.inspiration{
    flex-direction: column;
    padding-top: 4em;

    font-size: 0.8rem;
    @media (min-width: 1000px){
        font-size: 1rem;
    }    
    @media (min-width: 1800px){
        font-size: 1.5rem;
    }

    .inpiration-link{
        align-self: flex-start;
        display: flex;
        align-items: center;
        margin-bottom: 1em;
        
        svg{
            font-size: 1.5em;
            color: $braun;
        }

        span{
            margin: 0.5em;
        }
    }

    .inpiration-link:last-child{
        align-self: flex-end;
    }
    

    .editors-gallery{
        column-count: 3;
        column-gap: 0.5em;

        div{
            margin-bottom: 0.5em;

            img{
                position: relative;
                width: 100%;
            }
        }

        div:first-child{
            margin-top: 0;
        }

        div:last-child{
            margin-bottom: 0;
        }
    }
}