.products{
    flex-direction: column;

    font-size: 0.8rem;
    @media (min-width: 1000px){
        font-size: 1rem;
    }    
    @media (min-width: 1800px){
        font-size: 1.5rem;
    }

    .products-wrap{
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 6em;

        >div,
        >a{
            min-height: 20em;
            min-width: 140px;
        }

        .product{
            position: relative;
    
            .border{
                border: 1px solid $braun;
    
                position: absolute;
                top: 1rem;
                left: 1rem;
                bottom: 1rem;
                right: 1rem;
            }
    
            .header{
                position: absolute;
                background-color: white;
                box-shadow: 0 0 5px 1em white;
                z-index: 1;
                
                h3{
                    font-size: 2em;
                    font-weight: 400;
                    margin-top: 0;
                    margin-bottom: 1em;
                }
    
                div{
                    font-size: 1.5em;
    
                    svg{
                        color: $braun;
                    }
                }
            }

            .img{
                display: flex;
                width: 100%;
                height: 100%;
    
                img{
                    z-index: 2;
                    position: relative;
                }
            }
        }

        .allCollections{
            width: 30%;
            margin: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 1.2em;
            color: white;
            background-color: #b18f7280;

            @media(max-width: 1000px){
                min-height: 15em;
            }
    
            img{
                z-index: -1;
            }
    
            span:last-child{
                font-weight: 600;
            }
        }

        .someLinks{
            width: 40%;
            padding: 1rem;
            box-sizing: border-box;

            display: flex;
            flex-direction: column;
            align-items: center;
    
            >div{
                width: 80%;
                height: 50%;
                display: flex;
    
                >div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.2em;
                    width: 50%;

                    span{
                        margin: 1em;
                    }
                }
            }
    
            div:last-child{
                margin-top: 1rem;
                flex-direction: row-reverse;
                div:first-child{
                    justify-content: flex-end;
                    align-items: flex-end;
                }
            }
        }

        .product-0{
            width: 60%;

            .img{
                justify-content: flex-end;
                align-items: flex-end;
                img{
                    width: 90%;
                    margin-top: 4rem;
                }
            }
        }

        .product-1{
            width: 40%;
    
            .img{
                justify-content: flex-start;
                align-items: center;
                img{
                    width: 100%;
                }
            }
        }

        .product-2{
            width: 55%;
    
            .img{
                float: right;
                justify-content: flex-end;
                align-items: flex-end;
                img{
                    width: 60%;
                }
            }
        }

        .product-3{
            width: 55%;
    
            .img{
                justify-content: flex-start;
                align-items: center;

                img{
                    width: 100%;
                }
            }
        }

        @media(max-width: 600px){
            >div,
            >a{
                width: 100% !important;
            }

            .product-1{
                .img{
                    justify-content: flex-end;
                    align-items: flex-end;
                    img{
                        width: 80%;
                    }
                }
            }
        }
    }
}