// colors
$braun: #b18e70;
$dark-gray: #54555a;
$gray: #c5c6ca;
$light-gray: #f4f4f4;



.subscribe{
    width: 100%;
    background-color: $braun;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1rem;

    @media (min-width: 1800px){
        font-size: 1.5rem;
    }
  
    span{
        padding: 1em;
        font-weight: 300;
        text-align: center;
    }
  
    .email{
        color: white;
        font-size: 1.2em;
        min-width: 20%;
        max-width: 90%;
        width: 10em;
        border-bottom: 1px solid white;
    }
  
    input::placeholder {
        font-size: 1.2em; 
        color: white;
    }
  }

footer{
    width: 100%;
    background-color: $light-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    padding: 4em 10%;

    font-size: 0.8rem;
    @media (min-width: 1000px){
        font-size: 1rem;
    }    
    @media (min-width: 1800px){
        font-size: 1.5rem;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;

        li{
            margin: 1em;
        }
    }

    .footer-contacts{
        color: $gray;
    }
}

@media(max-width: 1000px){
    .subscribe{
        flex-direction: column;

        .email{
            margin-bottom: 1em;
        }
    }


    footer{
        flex-direction: column;

        .footer-menu{
            margin: 2em auto;
        }
    }
}